{
  "extends": "../.eslintrc",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "$": true,
    "React": true,
    "ReactDOM": true
  },
  "rules": {
    "class-methods-use-this": "off"
  }
}
